<div class="artfile-grid grid" data-masonry='{
  "columnWidth": 176,
  "itemSelector": ".grid-item",
  "transitionDuration": 0,
  "horizontalOrder": true,
  "gutter": 20
  }'>
  {% for artfile in artfiles %}
    <div class="artfile-item grid-item {% if artfile.is_fileid %}grid-item-wide{% endif %}">
      {% if artfile.is_fileid %}
        {% if artfile.image_tn %}
          <img src="{{ artfile.image_tn.url }}" alt="{{ artfile.name }}" width="{{ artfile.grid_width }}"
               height="{{ artfile.grid_height }}">
        {% endif %}
        <div class="artfile-title">
          {{ artfile.name }}
        </div>
      {% else %}
        <a href="{{ artfile.public_url }}">
          {% if artfile.image_tn %}
            <img src="{{ artfile.image_tn.url }}" alt="{{ artfile.name }}" width="{{ artfile.grid_width }}"
                 height="{{ artfile.grid_height }}">
          {% endif %}
          <div class="artfile-title">
            {{ artfile.name }}
          </div>
        </a>
      {% endif %}
    </div>
  {% endfor %}
</div>
