<form method="get" class="pack-filter-form" id="packFilterForm">
  <h2>
    <span>Filter by</span>
  </h2>
  <div class="filter-results">
    Results: {{ total }}
    {% if is_filtered %}
      <a href="{{ request.path }}" class="sidebar-clear-link">(view all)</a>
    {% endif %}
  </div>
  {% for field in form %}
    <fieldset>
      <legend>{{ field.label }}
        <a class="sidebar-legend-clear {% if not field.value %}disabled{% endif %}">[clear]</a>
      </legend>
      {{ field }}
    </fieldset>
  {% endfor %}
</form>
