<form method="get" class="pack-filter-form" id="packFilterForm">
  <h2>
    <span>Filter by</span>
  </h2>
  <div class="filter-results">
    {% for field in form %}
      {% if field.value %}
        <i></i><b>{{ field.label }}:</b> <i>{{ field.value }}</i><br />
      {% endif %}
    {% endfor %}
    <br />
    Results: {{ total }}
    {% if is_filtered %}
      <a href="{{ request.path }}" class="sidebar-clear-link">(view all)</a>
    {% endif %}
  </div>
  {% for field in form %}
    <fieldset>
      <legend>{{ field.label }}
        {% if field.value %}
          <button class="sidebar-legend-clear">[clear]</button>{% endif %}
      </legend>
      {% if field.field.choices %}
        {{ field }}
      {% else %}
        <span class="sidebar-empty-choice">
          -
        </span>
      {% endif %}
    </fieldset>
  {% endfor %}
</form>
