<form method="get" class="pack-filter-form" id="packFilterForm">
  <h2>
    <span>Filter by</span>
    <a class="header-link" href="{{ search_url }}">(advanced search)</a>
  </h2>
  <div class="filter-fieldsets">
    {% if is_filtered %}
      <fieldset class="filter-results">
        <legend>
          Results ({{ page.paginator.count }})
          <a href="{{ request.path }}" class="sidebar-clear-link">[clear]</a>
        </legend>
        <div class="filter-results-table">
          {% if form.artist.value %}
            <span>{{ form.artist.label }}:</span>
            <span><a href="{{ form.cleaned_data.artist.public_url }}">{{ form.artist.value }}</a></span>
          {% endif %}
          {% if form.group.value %}
            <span>{{ form.group.label }}:</span>
            <span><a href="{{ form.cleaned_data.group.public_url }}">{{ form.group.value }}</a></span>
          {% endif %}
          {% if form.collab.value %}
            <span>{{ form.collab.label }}:</span>
            <span>{{ form.collab.value }}</span>
          {% endif %}
          {% if form.extension.value %}
            <span>{{ form.extension.label }}:</span>
            <span>{{ form.extension.value }}</span>
          {% endif %}
        </div>
      </fieldset>
    {% endif %}
    {% for field in form %}
      {% if field.field.choices %}
        <fieldset>
          <legend>{{ field.label }}</legend>
          {{ field }}
        </fieldset>
      {% endif %}
    {% endfor %}
  </div>
</form>
