<div class="artfile-grid grid" data-masonry='{
  "columnWidth": 176,
  "itemSelector": ".grid-item",
  "transitionDuration": 0,
  "horizontalOrder": true,
  "gutter": 20
  }'>
  {% for artfile in artfiles %}
    <div class="artfile-item grid-item {% if artfile.is_fileid %}grid-item-wide{% endif %}">
      <a href="{{ artfile.public_url }}">
        <img src="{{ artfile.image_tn.url }}" alt="{{ artfile.name }}">
        <div class="artfile-title">
          {{ artfile.name }}
        </div>
      </a>
    </div>
  {% endfor %}
</div>
