body {
    margin: 0;
    /*background: #fbfbfb;*/
    background-color: rgba(255, 255, 255, 0.8);
    /*background-image: url('../img/plaid.jpg');*/
    background-repeat: repeat;
    background-size: auto;
    background-blend-mode: lighten;
}

select {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 4px;
    background: white;
    color: black;
    line-height: 1.2em;
}

a {
    color: #205493;
}

.logo {
    margin-right: 5px;
}

.header {
    background: #112E51;
    padding: 8px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    gap: 5px;
    overflow: hidden;
    text-shadow: -1px -1px 2px black;
}

.header a {
    color: white;
    white-space: nowrap;
}

.header-nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
}

.header-breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 7ch;
    flex: 1;
}

.header-shortcuts {
    display: flex;
    gap: 10px;
}

.content {
    margin: auto;
    padding: 20px;
    max-width: 1000px;
}

.preamble {
    font-style: italic;
    max-width: 700px;
    margin: auto;
}

.preamble > * {
    padding: 4px;
}

.preamble h1 {
    text-align: center;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

.artgrid-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin: 20px auto;
    max-width: 700px;
}

.artgrid-filter select {
    padding: 2px;
}

.artgrid-filter a {
    font-size: smaller;
    white-space: nowrap;
}

.artgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 20px;
}

.artgrid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.artgrid-item img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 8px;
    box-sizing: border-box;
    background: #eee;
    border-radius: 4px;
}

.artpost-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.artpost {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}

.artpost-header {
    text-align: center;
}

.artpost-header h1 {
    margin: 10px auto;
    font-size: 1.5em;
}

.artpost-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-style: italic;
}

.artpost-description {
    white-space: pre-line;
    max-width: 40em;
    font-style: italic;
}

.artpost-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 40em;
    justify-content: center;
}

.artpost-links a {
    white-space: nowrap;
}

.artpost-image {
    display: flex;
    background: #eee;
    padding: 8px;
    max-width: 40em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.artpost-image a {
    display: flex;
}

.artpost-image img {
    height: auto;
    width: auto;
    max-width: 100%;
}

.pagination {
    background: #eee;
    font-weight: bold;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    font-size: small;
    width: 100%;
    border-radius: 2px;
}

.pagination-step-links {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    flex: 1;
    width: min(400px, 100%);
    gap: 10px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .artpost {
        padding: 0;
    }
}
