body {
    margin: 0;
    background: #fbfbfb;
}

.logo {
    margin-right: 5px;
}

.header {
    background: #0000aa;
    padding: 8px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    gap: 5px;
    overflow: hidden;
    text-shadow: -1px -1px 2px black;
}

.header a {
    color: white;
    white-space: nowrap;
}

.header-nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
}

.header-breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 7ch;
    flex: 1;
}

.header-shortcuts {
    display: flex;
    gap: 10px;
}

.content {
    margin: auto;
    padding: 20px;
    max-width: 1200px;
}

.preamble {
    font-style: italic;
    max-width: 700px;
    margin: auto;
    margin-bottom: 20px;
}

.preamble h1 {
    text-align: center;
    font-weight: bold;
}

.artgrid-filter {
    background: #eee;
    padding: 6px 14px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 20px;
}

.artgrid-filter select {
    padding: 2px;
}

.artgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.artgrid-item {
    padding: 10px;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.artgrid-item-preview {
    max-width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artgrid-item img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 8px;
    background: #eee;
}

.artpost-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.artpost {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-style: italic;
    padding: 0 20px;
}

.artpost-header {
    text-align: center;
}

.artpost-header h1 {
    margin: 10px auto;
    font-size: 1.5em;
}

.artpost-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.artpost-description {
    white-space: pre-line;
    max-width: 50em;
}

.artpost-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.artpost-image {
    display: flex;
    background: #eee;
    padding: 8px;
    max-width: 40em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.artpost-image a {
    display: flex;
}

.artpost-image img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.pagination {
    background: #eee;
    font-weight: bold;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    font-size: small;
    width: 100%;
}

.pagination-step-links {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    flex: 1;
    width: min(400px, 100%);
    gap: 10px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .artpost {
        padding: 0;
    }
}
