exclude: "^docs/|^.idea/"
default_stages: [ pre-commit ]

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: file-contents-sorter
        files: requirements/.*\.in

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
ci:
  autoupdate_schedule: weekly
  skip: [ ]
  submodules: false
