{% extends "core/base.html" %}

{% load static %}

{% block extrahead %}
  <link href='{% static "fudan/css/bbs.css" %}' rel='stylesheet' />
  <script src="{% static "fudan/js/bbs.js" %}"></script>
{% endblock %}

{% block extrastyle %}
  <style>
      @font-face {
          font-family: "SimSunWebBBS";
          src: url('{% static 'core/fonts/SimSunWebBBS.woff2' %}') format('woff2');
      }
  </style>
{% endblock %}

{% block body %}
  <div class="bbs">
    <div class="bbs-controls">
      <div class="control">
        {% if prev_link %}
          <a class="control-item" href="{{ prev_link.target_public_url }}">&lt;</a>
        {% else %}
          <span class="control-item disabled">&lt;</span>
        {% endif %}
      </div>
      <div class="control">
        {% if next_link %}
          <a class="control-item" href="{{ next_link.target_public_url }}">&gt;</a>
        {% else %}
          <span class="control-item disabled">&gt;</span>
        {% endif %}
      </div>
      <div class="control">
        <span class="control-item inverse" id="font-size-display">20px</span>
        <span class="control-item" id="font-decrease">-</span>
        <span class="control-item" id="font-increase">+</span>
      </div>
      <div class="control">
        <span class="control-item" id="whitespace-toggle">wrap</span>
      </div>
      <div class="control">
        <span class="control-item {% if lang == "zh" %}active{% endif %}" id="lang-zh">zh</span>
        <span class="control-item {% if lang == "en" %}active{% endif %}" id="lang-en">en</span>
      </div>
      {% if user.is_staff %}
        <div class="control">
          <a class="control-item inverse" href="{{ obj.change_url }}" target="_blank">e</a>
        </div>
      {% endif %}
      <div class="control toggle" id="toggle-toolbar">-</div>
      {% include 'core/fragments/home-icon.html' %}
    </div>
    <div class="bbs-content">
      <div class="bbs-nav">
        {% for parent in parents %}
          <div><a href="{{ parent.menu.public_url }}">↑ {{ parent.get_translated_text }}</a></div>
        {% empty %}
          <br>
        {% endfor %}
      </div>
      {% block content %}{% endblock %}
      <div class="bbs-footer"></div>
    </div>
  </div>
{% endblock %}
