{% extends "core/base.html" %}

{% load static %}

{% block extrahead %}
<link href='{% static "fudan/css/bbs.css" %}' rel='stylesheet' />
<script src="{% static "fudan/js/bbs.js" %}" ></script>
{% endblock %}

{% block extrastyle %}
<style>
  @font-face {
      font-family: "SimSunWebBBS";
      src: url('{% static 'core/fonts/SimSunWebBBS.woff2' %}') format('woff2');
  }
</style>
{% endblock %}

{% block body %}
<div class="bbs">
  <div class="bbs-controls">
      <div class="bbs-lang-toggle"><span id="lang-zh" class="lang-option {% if zh %}active{% endif %}">zh</span><span id="lang-en" class="lang-option {% if en %}active{% endif %}">en</span></div>
      {% if user.is_staff %}
        <div class="bbs-admin-link"><a href="{{ obj.change_url }}" target="_blank">edit</a></div>
      {% endif %}
  </div>
  <div class="bbs-nav">
    {% for parent in parents %}
      <div>
        <a class="text-zh {% if en %}hidden{% endif %}" href="{{ parent.menu.bbs_url }}?lang=zh-cn">↑ {{ parent.text }}</a>
        <a class="text-en {% if zh %}hidden{% endif %}" href="{{ parent.menu.bbs_url }}?lang=en">↑ {{ parent.get_translated_text }}</a>
      </div>
      {% empty %}
      <br>
    {% endfor %}
  </div>
  {% block content %}{% endblock %}
  <div class="bbs-footer">
    <div>source: <a href="{{ obj.source_url }}">{{ obj.source_url }}</a></div>
  </div>
</div>
{% endblock %}
