{% extends "core/base.html" %}

{% load static %}

{% block extrahead %}
<link href='{% static "fudan/css/bbs.css" %}' rel='stylesheet' />
<script src="{% static "fudan/js/bbs.js" %}" ></script>
{% endblock %}

{% block extrastyle %}
<style>
  @font-face {
      font-family: "SimSunWebBBS";
      src: url('{% static 'core/fonts/SimSunWebBBS.woff2' %}') format('woff2');
  }
</style>
{% endblock %}

{% block body %}
<div class="bbs">
  <div class="bbs-controls">
      <div class="bbs-font-toggle">
        <span id="font-size-display" class="font-size-display">20px</span>
        <span id="font-decrease" class="font-option">-</span>
        <span id="font-increase" class="font-option">+</span>
      </div>
      <div class="bbs-whitespace-toggle">
        <span id="whitespace-toggle" class="whitespace-option">wrap</span>
      </div>
      <div class="bbs-lang-toggle">
        <span id="lang-zh" class="lang-option {% if lang == "zh" %}active{% endif %}">zh</span>
        <span id="lang-en" class="lang-option {% if lang == "en" %}active{% endif %}">en</span>
      </div>
      {% if user.is_staff %}
        <div class="bbs-admin-link"><a href="{{ obj.change_url }}" target="_blank">e</a></div>
      {% endif %}
  </div>
  <div class="bbs-nav">
    {% for parent in parents %}
      <div><a href="{{ parent.menu.public_url }}">↑ {{ parent.get_translated_text }}</a></div>
      {% empty %}
      <br>
    {% endfor %}
  </div>
  {% block content %}{% endblock %}
  <div class="bbs-footer">
    <div>source: <a href="{{ obj.source_url }}">{{ obj.source_url }}</a></div>
  </div>
</div>
{% endblock %}
