{% extends "core/base.html" %}{% load static %}

{% block extrastyle %}
  <style>
      @font-face {
          font-family: 'Permanent Marker';
          src: url({% static 'core/fonts/permanentmarker-regular.woff2' %}) format('woff2');
          font-weight: normal;
          font-style: normal;
      }

      h1 {
          font-family: 'Permanent Marker', sans-serif;
      }
  </style>
{% endblock %}

{% block body %}
  <h1>🅰🆂🅲🅸🅸 🅰🆁🆃</h1>
  <p>(in progress)</p>
  <h2>Mirrors</h2>
  <ul>
    <li><a href="{% url 'fudan-bbs-menu' 'groups/rec.faq/ANSI' %}">Sun and Moon Guanghua BBS</a>
    <li><a href="{% url 'textmode-index' %}">16colo.rs</a></li>
  </ul>
{% endblock %}
