{% extends "core/base.html" %}{% load static %}

{% block extrastyle %}
  <style>
      @font-face {
          font-family: 'Permanent Marker';
          src: url({% static 'core/fonts/permanentmarker-regular.woff2' %}) format('woff2');
          font-weight: normal;
          font-style: normal;
      }

      .hero {
          margin: auto;
          max-width: 800px;
          padding-left: 1em;
          position: relative;
          z-index: -1;
      }

      .hero img {
          max-width: 80%;
      }

      .floating-cat {
          float: right;
      }

      .floating-cat img {
          width: 4em;
      }

      .content {
          padding: 0 4em;
          margin: -40px auto;
          max-width: 700px;
          position: relative;
      }

      body {
          background-color: #0000AA;
          color: white;
          font-family: sans-serif;
          position: relative;
      }

      h1 {
          font-family: 'Permanent Marker', sans-serif;
          color: red;
          letter-spacing: .3em;
          text-align: center;
          white-space: nowrap;
          font-size: 4em;
          text-shadow: 2px 2px 0px #FFFF55;
          margin: 0;
      }

      a, a:visited {
          color: #FFFF55;
      }

      dt {
          font-weight: bold;
      }

      dl {
          display: flex;
          flex-direction: column;
          gap: .5em;
      }

      .subtitle {
          text-align: center;
      }

      @media (max-width: 768px) {
          body {
              background-image: none;
          }

          .content {
              padding: 0 1em;
          }

          h1 {
              font-size: 3em;
              letter-spacing: .1em;
          }

          dd {
              margin-left: 1em;
          }
      }
  </style>
{% endblock %}

{% block title %}
  mozz.us ASCII Art
{% endblock %}

{% block body %}
  <div class="hero">
    <img src="{% static 'core/img/ascii-birds.png' %}" alt="flying birds">
  </div>
  <div class="content">
    <h1>Ascii Art</h1>
    <p class="subtitle">Welcome to my collection 🙂</p>
    <h2>Sitemap</h2>
    <dl>
      <dt>Mozz - Personal ASCII</dt>
      <dd>
        <p><a href="mozz/">mozz/</a></p>
        <p>
          My own humble collection of self-made ASCII art. Also mirrored on the <a
          href="https://portal.mozz.us/nex/mozz.us/ascii-art/">nex://</a> protocol.</p>
      </dd>
      <dt>Textmode - Underground BBS ANSI</dt>
      <dd>
        <p><a href="textmode/">textmode/</a></p>
        <p>
          A (partial) mirror of the <a href="https://16colo.rs">16colo.rs</a> ANSI & ASCII archive. Contains pictures
          organized into "packs" and released by art groups over the span of decades. The archive is centered around the
          MS-DOS ANSI art but also contains Amiga ASCII and other legacy character sets which are collectively
          referred to as <a href="https://polyducks.co.uk/pages/what-is-textmode/"><i>"textmode"</i></a>. </p>
      </dd>
      <div>
        <div class="floating-cat">
          <img src="{% static 'core/img/ascii-cat.png' %}" alt="floating cat">
        </div>
        <dt>Fudan - Chinese BBS ANSI</dt>
        <dd>
          <p><a href="fudan/">fudan/</a></p>
          <p>
            A translated mirror of the <a href="https://bbs.fudan.edu.cn/bbs/0an?path=/groups/rec.faq/ANSI/">Sun and
            Moon
            Guanghua BBS</a> at Fudan University in Shanghai, China. This BBS was a main hub of ANSI art for
            mainland China in the 2000's. There thousands of pictures cataloged by category and author, and other
            documentation including history, <a href="/fudan/bbs/groups/rec.faq/ANSI/8/lessons/">full-blown classes</a>
            on
            ANSI art, and technical references.</p>
        </dd>
        <dt>AA - Japanese Shift_JIS</dt>
        <dd>
          <p><a href="https://aa.mozz.us/">https://aa.mozz.us</a></p>
          <p>
            A mirror of the website <a href="http://en.utf8art.com">utf8art.com</a>, which catalogs Japanese ASCII art
            (commonly referred to as just "aa") originating from
            the popular <a href="https://2ch.net">2ch.net</a> textboard. </p>
        </dd>
      </div>
      <dt>The ASCII Art Emporium - Usenet ASCII</dt>
      <dd>
        <p><a href="https://ascii.mozz.us:7070">https://ascii.mozz.us:7070</a></p>
        <p>
          A large collection of traditional 7-bit ASCII art, scraped from dozens of websites and converted into plain
          text files. Also includes an archive of <a href="https://groups.google.com/g/alt.ascii-art">alt.ascii-art</a>
          and other Usenet newsgroups. This collection can also be downloaded as a single, compressed file from <a
          href="https://archive.org/details/ascii_emporium_20231114.tar">archive.org</a>.</p>
      </dd>
    </dl>
  </div>
{% endblock %}
