{% extends "huku/base.html" %}

{% load static %}

{% block breadcrumbs %}
  <span class="sep">/</span>
  {{ breadcrumbs }}
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ obj.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="box-container">
    <h2>Directory: {{ obj.display_name }}</h2>
    <ul class="directory-content">
      {% if obj.parent %}
        <li>
            <img alt="dir" src="{% static "huku/images/back.gif" %}">
            <a href="{{ obj.parent.public_url }}">Parent Directory</a>
          </a>
        </li>
      {% endif %}
      {% for subdirectory in obj.subdirectories.all %}
        <li>
          <img alt="dir" src="{% static "huku/images/dir.gif" %}">
          <a href="{{ subdirectory.public_url }}">{{ subdirectory.name }}</a>
        </li>
      {% endfor %}
      {% for file in obj.files.all %}
        <li>
          <img alt="text" src="{% static "huku/images/text.gif" %}">
          <a href="{{ file.public_url }}">{{ file.name }} ({{ file.artwork_count }})</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
