{% extends "huku/base.html" %}

{% load static %}

{% block breadcrumbs %}
  <span class="sep">/</span>
  {{ breadcrumbs }}
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ obj.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="box-container">
    <h2>
      <span>{{ obj.name }}</span>
      <span class="file-download">
        <a href="{{ obj.download_url }}">(download as .mlt)</a>
      </span>
    </h2>
    <div class="file-content">
      {% for heading, items in sections %}
      <div class="artwork-container">
        {% if heading %}
          <h3 id="{{ heading.slug }}">
            <span>{{ heading.heading }}</span>
            <a href="#{{ heading.slug }}" class="anchor-link">
              <img src="{% static "huku/images/link-chain.svg" %}" alt="anchor" class="icon">
            </a>
          </h3>
        {% endif %}
        <div class="artwork-grid">
          {% for artwork in items %}
            <div>
              <a href="{{ artwork.public_url }}">
                <pre id="{{ artwork.slug }}" class="artwork-preview" translate="no">{{ artwork.text }}</pre>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
