{% extends "huku/base.html" %}

{% block breadcrumbs %}
<span class="sep">/</span>
{{ breadcrumbs }}
<span class="sep">/</span>
<a href="{{ obj.public_url }}">{{ obj.slug }}</a>
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ obj.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="section-container">
    <h3>{{ obj.section.name }} ({{ obj.order|add:1 }} of {{ obj.section.artwork_count }})</h3>
    <div class="artwork-content">
      <pre class="artwork-viewbox" translate="no">{{ obj.text }}</pre>
    </div>
  </div>
{% endblock %}
