{% extends "huku/base.html" %}

{% load static %}

{% block breadcrumbs %}
  <span class="sep">/</span>
  {{ breadcrumbs }}
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ obj.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="box-container">
    <h2>
      <span>{{ obj.name }}</span>
      <span class="file-download">
        <a href="{{ obj.download_url }}">(download as .mlt)</a>
      </span>
    </h2>
    <div class="file-content">
      {% for section in obj.sections.all %}
      <div class="artwork-container">
        <h3 id="{{ section.slug }}" {% if section.nsfw %}class="nsfw-header"{% endif %}>
          <span>{{ section.name }} ({{ section.artwork_count }})</span>
          <a href="#{{ section.slug }}" class="anchor-link">
            <img src="{% static "huku/images/link-chain.svg" %}" alt="anchor" class="icon">
          </a>
        </h3>
        <div class="artwork-grid">
          {% for artwork in section.artwork.all %}
            <div>
              <a href="{{ artwork.public_url }}">
                <pre id="{{ artwork.slug }}" class="artwork-preview" translate="no">{{ artwork.text }}</pre>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
