{% extends 'mozz/base.html' %}

{% block content %}
  <h1 class="masthead">About</h1>
  <hr class="short-rule">
  <div class="about">
    <p>
      Welcome to my personal ASCII art page! I'm an aspiring student of textmode artwork, following
      in the footsteps of countless others who came before me.
    <p>
      All works here are my own unless otherwise noted. You may share or remix this artwork for
      non-commercial purposes, but please keep the artist signature intact. </p>
    <p>
      Alternatively, here's my scroll file for the pure text experience:
      <a href="{% url 'mozz-scroll-file' %}">./scrollfile.txt</a>
    </p>
    <p>—mozz</p>
  </div>
{% endblock %}
