{% extends 'mozz/base.html' %}

{% block title %}mozz - {{ post.title }}{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ post.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <span>/</span>
  <a href="{{ post.public_url }}">{{ post.slug }}</a>
{% endblock %}

{% block content %}
  <div class="artpost-wrapper">
    {% include 'mozz/fragments/artpost_paginator.html' %}
    <div class="artpost">
      <div class="artpost-header">
        <h1>{{ post.title }}</h1>
        <div>{{ post.date }}</div>
      </div>
      <div class="artpost-image">
        <a href="{{ post.image_x1.url }}">
          <img src="{{ post.image_x1.url }}" alt="{{ post.title }}">
        </a>
      </div>
      <div class="artpost-details">
        <span>Format: {{ post.get_file_type_display }}</span>
        {% if post.font_name %}
          <span>Font: {{ post.get_font_name_display }}</span>
        {% endif %}
      </div>
      {% if post.description %}
        <div class="artpost-description"><b>Description: </b>{{ post.description }}
        </div>
      {% endif %}
      <div class="artpost-links">
        <b>Download:</b>
        <a href="{{ post.file.url }}" download="{{ post.download_raw_name }}">
          Raw File ({{ post.file_extension }})
        </a>
        <a href="{{ post.image_x1.url }}" download="{{ post.download_image_name }}">
          Image ({{ post.image_x1_extension }})
        </a>
      </div>
    </div>
    {% include 'mozz/fragments/artpost_paginator.html' %}
  </div>{% endblock %}
