{% extends 'mozz/base.html' %}

{% block title %}mozz - {{ post.title }}{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ post.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <span>/</span>
  <a href="{{ post.public_url }}">{{ post.slug }}</a>
{% endblock %}

{% block content %}
  <div class="artpost-wrapper">
    {% include 'mozz/fragments/artpost_paginator.html' %}
    <div class="artpost">
      <div class="artpost-header">
        <h1>{{ post.title }}</h1>
        <div>{{ post.date }}</div>
      </div>
      <div class="artpost-image">
        {% if post.image_x1 %}
          <a href="{{ post.image_x1.url }}">
            <img src="{{ post.image_x1.url }}" alt="{{ post.title }}">
          </a>
        {% else %}
          <img alt="{{ post.title }}">
        {% endif %}
      </div>
      <div class="artpost-details">
        <span>Format: {{ post.get_file_type_display }}</span>
        {% if post.font_name %}
          <span>Font: {{ post.get_font_name_display }}</span>
        {% endif %}
      </div>
      {% if post.description %}
        <div class="artpost-description"><b>Description: </b>{{ post.description | safe }}
        </div>
      {% endif %}
      <div class="artpost-links">
        <b>Downloads:</b>
        {% if post.image_x1 %}
          <a href="{{ post.image_x1.url }}">preview ({{ post.image_extension }})</a>
        {% endif %}
        <a href="{{ post.file.url }}" download>raw file ({{ post.file_extension }})</a>
        {% for attachment in post.attachments.all %}
          <a href="{{ attachment.file.url }}">{{ attachment.name }} ({{ attachment.file_extension }})</a>
        {% endfor %}
      </div>
    </div>
    {% include 'mozz/fragments/artpost_paginator.html' %}
  </div>{% endblock %}
