{% extends 'mozz/base.html' %}

{% load static %}

{% block extrahead %}{{ block.super }}
  <script src='{% static "vendor/masonry/masonry.pkgd.min.js" %}'></script>
  <script>
    {% include "mozz/fragments/artgrid_masonry.js" %}
  </script>
{% endblock %}

{% block headerlinks %}
  <a href="{% url 'mozz-about' %}">about</a>
  {% if user.is_staff %}
    <div><a href="{% url 'admin:mozz_artpost_changelist' %}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="masthead">Mozz's ASCII Art</h1>
  <p class="subtitle">
    A collection of my original plaintext and textmode artwork
    (<a href="{% url 'mozz-about' %}">about</a>).
  </p>
  <hr class="short-rule">
  <nav class="artgrid-filter">
    {% if filetype %}<a href="{% url 'mozz-index' %}">all artwork</a>{% else %}<span>all artwork</span>{% endif %}
    {% if filetype == "plaintext" %}<span>plaintext</span>{% else %}<a href="?filetype=plaintext">plaintext</a>{% endif %}
    {% if filetype == "textmode" %}<span>textmode</span>{% else %}<a href="?filetype=textmode">textmode</a>{% endif %}
  </nav>
  <div class="artgrid">
    <div class="artgrid-sizer"></div>
    <div class="artgrid-gutter"></div>
    {% for post in posts %}
      <div class="artgrid-item">
        <a href="{{ post.public_url }}">
          {% if post.image_tn %}
            <img loading="lazy" src="{{ post.image_tn.url }}" alt="{{ post.title }}"
                 width="{{ post.thumb_width }}" height="{{ post.thumb_height }}">
          {% else %}
            <img src="" alt="{{ post.title }}">
          {% endif %}
        </a>
        <div class="artgrid-caption">
          <span>
            <a href="{{ post.public_url }}">{{ post.title }}</a>
          </span>
          <span class="artgrid-date">{{ post.date|date:"Y-m-d" }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
  <hr class="short-rule">
  <p class="eof">eof.</p>
{% endblock %}
