{% extends 'mozz/base.html' %}

{% load static %}

{% block extrastyle %}
  <style>
      @font-face {
          font-family: 'Kalam';
          src: url({% static 'core/fonts/Kalam-Bold.woff2' %}) format('woff2');
          font-weight: bold;
          font-style: normal;
      }
  </style>
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script>
    {% include "mozz/fragments/artgrid_filter.js" %}
  </script>
{% endblock %}

{% block headerlinks %}
  <a href="{% url 'mozz-scroll-file' 'scratchpad' %}">scratchpad</a>
  {% if user.is_staff %}
    <div><a href="{% url 'admin:mozz_artpost_changelist' %}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="preamble">
    <h1>Mozz's ASCII Art Gallery</h1>
    <div>
      <p>
        Welcome to my personal ASCII art page! I'm an aspiring student of textmode artwork, following
        in the footsteps of countless others who came before me.
      <p>
        All works here are my own unless otherwise noted. You may share or remix this artwork for
        non-commercial purposes, but please keep the artist signature intact. </p>
      <p>
        Alternatively, here's my scroll file for the pure text experience:
        <a href="{% url 'mozz-scroll-file' 'scrollfile' %}">./scrollfile.txt</a>
      </p>
      <p>—mozz</p>
    </div>
  </div>
  <form method="get" class="artgrid-filter" id="artgridFilterForm">
    {{ form.filetype }}
    {{ form.category }}
    {% if is_filtered %}<a href="{% url 'mozz-index' %}">[view all]</a>{% endif %}
  </form>
  <div class="artgrid">
    {% for post in posts %}
      <div class="artgrid-item">
        <a class="artgrid-item-image" href="{{ post.public_url }}">
          {% if post.image_tn %}
            <img src="{{ post.image_tn.url }}" alt="{{ post.title }}">
          {% else %}
            <img src="" alt="{{ post.title }}">
          {% endif %}
        </a>
        <div>
          <a class="artgrid-item-title" href="{{ post.public_url }}">{{ post.title }}</a>
          {% if post.favorite %}<span>🎉</span>{% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
