{% extends 'mozz/base.html' %}

{% load static %}

{% block extrastyle %}
  <style>
      @font-face {
          font-family: 'Kalam';
          src: url({% static 'core/fonts/Kalam-Bold.woff2' %}) format('woff2');
          font-weight: bold;
          font-style: normal;
      }
  </style>
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script>
    {% include "mozz/fragments/artgrid_filter.js" %}
  </script>
{% endblock %}

{% block headerlinks %}
  <a href="{% url 'mozz-scroll-file' 'scratchpad' %}">scratchpad</a>
  {% if user.is_staff %}
    <div><a href="{% url 'admin:mozz_artpost_changelist' %}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="preamble">
    <h1>Mozz's ASCII Art Gallery</h1>
    <p>
      Welcome to my personal ASCII art page! I'm an aspiring student of textmode artwork, following
      in the footsteps of countless others who came before me.
    <p>
      All works here are my own unless otherwise noted. You may share or remix this artwork for
      non-commercial purposes, but please keep the artist signature intact. </p>
    <p>
      Alternatively, here's my scroll file for the pure text experience:
      <a href="{% url 'mozz-scroll-file' 'ascii-art' %}">./ascii-art.txt</a>
    </p>
    <p>—mozz</p>
  </div>
  <form method="get" class="artgrid-filter" id="artgridFilterForm">
    <b>Filter</b>
    {{ form.filetype }}
    {{ form.category }}
    {% if is_filtered %}<a href="{% url 'mozz-index' %}">[reset]</a>{% endif %}
  </form>
  <div class="artgrid">
    {% for post in posts %}
      <a class="artgrid-item" href="{{ post.public_url }}">
        <div class="artgrid-item-preview">
          <div class="artgrid-item-preview-container">
            {% if post.image_tn %}
              <img loading="lazy" src="{{ post.image_tn.url }}" alt="{{ post.title }}">
            {% else %}
              <img loading="lazy" src="" alt="{{ post.title }}">
            {% endif %}
            <div>
              {% if post.featured %}<span class="artgrid-item-sparkle">✨</span>{% endif %}
              <span class="artgrid-item-title">{{ post.title }}</span>
              {% if post.featured %}<span class="artgrid-item-sparkle">✨</span>{% endif %}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
