{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrastyle %}{{ block.super }}
  <style>
      @font-face {
          font-family: "aahub";
          src: url('{% static 'core/fonts/aahub.woff2' %}') format('woff2');
      }

      .bbs-raw {
          max-width: 850px;
          max-height: 500px;
          overflow: auto;
          border: 1px solid grey;
          padding: 5px;
      }

      .huku-raw {
          font-family: "aahub", sans-serif;
          max-width: 850px;
          max-height: 500px;
          overflow: auto;
          border: 1px solid grey;
          padding: 5px;
      }
      .huku-image-preview {
          border: 1px solid grey;
          max-width: 400px;
      }

  </style>
{% endblock %}
