/* This is the Windows XP console color scheme taken from
 https://en.wikipedia.org/wiki/ANSI_escape_code#8-bit */
:root {
    --c0: #000000;
    --c1: #800000;
    --c2: #008000;
    --c3: #808000;
    --c4: #000080;
    --c5: #800080;
    --c6: #008080;
    --c7: #C0C0C0;
    --c8: #808080;
    --c9: #FF0000;
    --c10: #00FF00;
    --c11: #FFFF00;
    --c12: #0000FF;
    --c13: #FF00FF;
    --c14: #00FFFF;
    --c15: #FFFFFF;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

body {
    color: var(--c7);
    background-color: var(--c0);
}

.hidden {
    display: none;
}

.bbs {
    font-family: "SimSunWebBBS", monospace;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    margin: 20px;
}

.bbs .blink {
    animation: blink 2s step-start 0s infinite;
}

.bbs .underline {
    text-decoration: underline;
}

.bbs a:link {
    text-decoration: none;
    color: var(--c14);
}

.bbs a:visited {
    text-decoration: none;
    color: var(--c13);
}

.bbs-menu {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    column-gap: 1ch;
    margin: 1em auto;
}

.bbs-menu > span {
    white-space: pre;
}
.bbs-menu > .rjust {
    justify-self: right;
}

.bbs-document {
    white-space: pre;
    margin: 1em auto;
}

.bbs-lang-toggle {
    display: inline-flex;
    position: fixed;
    top: 0;
    right: 1em;
    color: var(--c11);
    cursor: pointer;
    margin-top: 1em;
    border: 1px solid var(--c11);
    border-radius: 3px;
    background-color: var(--c0);
    z-index: 1000;
}

.bbs-lang-toggle .lang-option {
    padding: 0 5px;
    user-select: none;
}

.bbs-lang-toggle .lang-option.active {
    background-color: var(--c11);
    color: var(--c0);
}
