/* This is the Windows XP console color scheme taken from
 https://en.wikipedia.org/wiki/ANSI_escape_code#8-bit */
:root {
    --c0: #000000;
    --c1: #800000;
    --c2: #008000;
    --c3: #808000;
    --c4: #000080;
    --c5: #800080;
    --c6: #008080;
    --c7: #C0C0C0;
    --c8: #808080;
    --c9: #FF0000;
    --c10: #00FF00;
    --c11: #FFFF00;
    --c12: #0000FF;
    --c13: #FF00FF;
    --c14: #00FFFF;
    --c15: #FFFFFF;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

body {
    color: var(--c7);
    background-color: var(--c0);
}

.bbs {
    font-family: "SimSunWebBBS", monospace;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    width: 80ch;
    margin: auto;
}

.bbs .blink {
    animation: blink 2s step-start 0s infinite;
}

.bbs .underline {
    text-decoration: underline;
}

.bbs a:link {
    text-decoration: none;
    color: var(--c14);
}

.bbs a:visited {
    text-decoration: none;
    color: var(--c13);
}

.bbs-menu {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    column-gap: 1ch;
    margin: 1ch auto;
}

.bbs-menu > span {
    white-space: pre-wrap;
}

.bbs-menu > span:nth-child(5n) {
    justify-self: end;
}

.bbs-document {
    white-space: pre-wrap;
    margin: 1ch auto;
}
