{% extends "textmode/base.html" %}

{% load static %}{% load core_tags %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-pack-list' %}">packs</a>
  <span>&gt;</span>
  <a href="{{ pack.public_url }}">{{ pack.name }}</a>
  <span>&gt;</span>
  <a href="{{ artfile.public_url }}">{{ artfile.name }}</a>
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ artfile.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="artfile-body">
    <div class="sidebar">
      <h3>Sauce</h3>
      {% if sauce %}
        <dl>
          {% for name, val in sauce.items %}
            <dt>{{ name }}</dt>
            <dd>{{ val }}</dd>
          {% endfor %}
        </dl>
      {% else %}
        -
      {% endif %}
      <h3>Preview</h3>
      {% if artfile.image_tn %}
        <img src="{{ artfile.image_tn.url }}" alt="{{ artfile.name }}">
      {% else %}
        -
      {% endif %}
      <h3>Tags</h3>
      <dl>
        <dt>Artist</dt>
        <dd>
          <span class="sidebar-list">
          {% for tag in artfile.get_artist_tags %}
            <a href="{{ tag.public_url }}">{{ tag.name }}</a>
          {% empty %}
            -
          {% endfor %}
          </span>
        </dd>
        <dt>Group</dt>
        <dd>
          <span class="sidebar-list">
          {% for tag in artfile.get_group_tags %}
            <a href="{{ tag.public_url }}">{{ tag.name }}</a>
          {% empty %}
            -
          {% endfor %}
          </span>
        </dd>
        <dt>Content</dt>
        <dd>
          <span class="sidebar-list">
          {% for tag in artfile.get_content_tags %}
            <a href="{{ tag.public_url }}">{{ tag.name }}</a>
          {% empty %}
            -
          {% endfor %}
          </span>
        </dd>
      </dl>
    </div>
    <div class="artfile-content-wrapper">
      <h1>File: {{ artfile.name }}
        <a class="header-link" href="{{ artfile.raw_file.url }}">({{ artfile.name|get_extension }})</a>
      </h1>
      <div class="artfile-content">
        <div class="artfile-quick-links">
        <span>
          {% if prev %}
            <a href="{{ prev.public_url }}">&lt;&lt; Previous</a>
          {% else %}
            <span style="visibility: hidden">&lt;&lt; Previous</span>
          {% endif %}
        </span>
          <a href="{{ pack.public_url }}">Index</a>
          <span>
          {% if next %}
            <a href="{{ next.public_url }}">Next &gt;&gt;</a>
          {% else %}
            <span style="visibility: hidden">Next &gt;&gt;</span>
          {% endif %}
        </span>
        </div>
        {% if artfile.image_x1 %}
          <div class="artfile-image-container">
            <img src="{{ artfile.image_x1.url }}" alt="{{ artfile.name }}">
          </div>
          {% if artfile.title and artfile.author %}
            <div>{{ artfile.title }} by {{ artfile.author }}</div>
          {% endif %}
        {% else %}
          <div>
            Preview not available. <a href="{{ artfile.raw_file.url }}">(open file)</a>
          </div>
        {% endif %}
        <div class="artfile-quick-links">
        <span>
          {% if prev %}
            <a href="{{ prev.public_url }}">&lt;&lt; Previous</a>
          {% else %}
            <span style="visibility: hidden">&lt;&lt; Previous</span>
          {% endif %}
        </span>
          <a href="{{ pack.public_url }}">Index</a>
          <span>
          {% if next %}
            <a href="{{ next.public_url }}">Next &gt;&gt;</a>
          {% else %}
            <span style="visibility: hidden">Next &gt;&gt;</span>
          {% endif %}
        </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
