{% extends "textmode/base.html" %}

{% load static %}{% load core_tags %}

{% block title %}{{ pack.year }}/{{ pack.name }}/{{ artfile.name }}{% endblock %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-pack-list' %}">packs</a>
  <span>&gt;</span>
  <a href="{% url 'textmode-pack-year-list' pack.year %}">{{ pack.year }}</a>
  <span>&gt;</span>
  <a href="{{ pack.public_url }}">{{ pack.name }}</a>
  <span>&gt;</span>
  <a href="{{ artfile.public_url }}">{{ artfile.name }}</a>
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ artfile.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="artfile-body">
    <div class="artfile-content-wrapper">
      <h1>{{ pack.year }} / {{ pack.name }} / {{ artfile.name }}</h1>
      <div class="artfile-content">
        {% include 'textmode/fragments/pack_paginator.html' %}
        {% if artfile.image_x1 %}
          <div class="artfile-image-container">
            <a href="{{ artfile.image_x1.url }}">
              <img src="{{ artfile.image_x1.url }}"
                   alt="{{ artfile.name }}"
                   height="{{ artfile.image_x1.height }}"
                   width="{{ artfile.image_x1.width }}">
            </a>
          </div>
        {% elif artfile.is_audio %}
          <div class="artfile-audio-container">
            <audio controls preload="metadata">
              <source src="{{ artfile.raw_file.url }}">
            </audio>
          </div>
        {% elif artfile.is_video %}
          <div class="artfile-video-container">
            <video controls preload="metadata">
              <source src="{{ artfile.raw_file.url }}">
            </video>
          </div>
        {% else %}
          <div>
            Preview not available, click <a href="{{ artfile.raw_file.url }}">here</a> to download.
          </div>
        {% endif %}
        {% if artfile.title and artfile.author %}
          <div class="artfile-image-title">{{ artfile.title }} by {{ artfile.author }}</div>
        {% endif %}
        {% include 'textmode/fragments/pack_paginator.html' %}
      </div>
    </div>
    <div class="sidebar">
      <h2>File Information</h2>
      <dl>
        <dt>Raw File</dt>
        <dd><a href="{{ artfile.raw_file.url }}" download>{{ artfile.name }}</a></dd>
        <dt>Source</dt>
        <dd><a href="{{ artfile.sixteencolors_url }}">{{ artfile.sixteencolors_url }}</a></dd>
      </dl>
      <h3>Preview</h3>
      {% if artfile.image_tn %}
        <img class="sidebar-preview"
          src="{{ artfile.image_tn.url }}"
          alt="{{ artfile.name }}"
          height="{{ artfile.image_tn.height }}"
          width="{{ artfile.image_tn.width }}"
        >
      {% else %}
        -
      {% endif %}
      <h3>Sauce</h3>
      {% if sauce %}
        <dl>
          {% for name, val in sauce.items %}
            <dt>{{ name }}</dt>
            <dd>{{ val }}</dd>
          {% endfor %}
        </dl>
      {% else %}
        <dl>
          <dd>-</dd>
        </dl>
      {% endif %}
      <h3>Tags</h3>
      <ul class="sidebar-list">
        {% for tag in tags %}
          <li><a href="{{ tag.public_url }}">{{ tag.category }}/{{ tag.name }} ({{ tag.artfile_count }})</a></li>
        {% empty %}
          <li>-</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
