{% extends "textmode/base.html" %}

{% load static %}{% load core_tags %}

{% block title %}{{ pack.year }}/{{ pack.name }}/{{ artfile.name }}{% endblock %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-pack-list' %}">packs</a>
  <span>&gt;</span>
  <a href="{{ pack.public_url }}">{{ pack.name }}</a>
  <span>&gt;</span>
  <a href="{{ artfile.public_url }}">{{ artfile.name }}</a>
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ artfile.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="artfile-body">
    <div class="artfile-content-wrapper">
      <h1>{{ pack.year }} / {{ pack.name }} / {{ artfile.name }}</h1>
      <div class="artfile-content">
        {% include 'textmode/fragments/pack_paginator.html' %}
        {% if artfile.image_x1 %}
          <div class="artfile-image-container">
            <a href="{{ artfile.image_x1.url }}">
              <img src="{{ artfile.image_x1.url }}" alt="{{ artfile.name }}">
            </a>
          </div>
          {% if artfile.title and artfile.author %}
            <div class="artfile-image-title">{{ artfile.title }} by {{ artfile.author }}</div>
          {% endif %}
        {% else %}
          <div>
            Preview not available <a href="{{ artfile.raw_file.url }}">(download file) instead.</a>
          </div>
        {% endif %}
        {% include 'textmode/fragments/pack_paginator.html' %}
      </div>
    </div>
    <div class="sidebar">
      <h2>File Information</h2>
      <dl>
        <dt>Raw File</dt>
        <dd><a href="{{ artfile.raw_file.url }}">{{ artfile.name }}</a></dd>
      </dl>
      <h3>Preview</h3>
      {% if artfile.image_tn %}
        <img src="{{ artfile.image_tn.url }}" alt="{{ artfile.name }}">
      {% else %}
        -
      {% endif %}
      <h3>Sauce</h3>
      {% if sauce %}
        <dl>
          {% for name, val in sauce.items %}
            <dt>{{ name }}</dt>
            <dd>{{ val }}</dd>
          {% endfor %}
        </dl>
      {% else %}
        <dl>
          <dd>-</dd>
        </dl>
      {% endif %}
      <h3>Tags</h3>
      <ul class="sidebar-list">
        {% for tag in tags %}
          <li><a href="{{ tag.public_url }}">{{ tag.category }}/{{ tag.name }} ({{ tag.artfile_count }})</a></li>
        {% empty %}
          <li>-</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
