{% extends "core/base.html" %}

{% load static %}

{% block title %}ascii.mozz.us // textmode{% endblock %}

{% block extrahead %}{{ block.super }}
  <script src='{% static "vendor/masonry/masonry.pkgd.min.js" %}'></script>
  <script src='{% static 'admin/js/vendor/jquery/jquery.min.js' %}'></script>
  <link href='{% static "textmode/css/textmode.css" %}' rel='stylesheet' />
{% endblock %}

{% block body %}
  <div class="header">
    {% include 'core/fragments/home-icon.html' %}
    <div class="title"><a href="{% url 'textmode-index' %}">[textmode]</a></div>
    <div class="header-nav">
      <div class="header-breadcrumbs">
        <a href="{% url 'textmode-index' %}">home</a>
        {% block breadcrumbs %}{% endblock %}
      </div>
      <div class="header-shortcuts">
        {% block headerlinks %}
          {% if user.is_staff %}
            <div><a href="{% url 'admin:index' %}">edit</a></div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
