{% extends "core/base.html" %}

{% load static %}

{% block extrahead %}
  <script src='{% static "vendor/masonry/masonry.pkgd.min.js" %}'></script>
  <link href='{% static "textmode/css/textmode.css" %}' rel='stylesheet' />
{% endblock %}

{% block body %}
  <div class="header">
    <div class="title"><a href="{% url 'textmode-index' %}">[textmode]</a></div>
    <div class="header-nav">
      <div class="header-breadcrumbs">
        <a href="{% url 'textmode-index' %}">home</a>
        {% block breadcrumbs %}{% endblock %}
      </div>
      <div class="header-shortcuts">
        {% block headerlinks %}{% endblock %}
        <a href="https://16colo.rs">16colo.rs</a>
      </div>
    </div>
  </div>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
