{% extends "textmode/base.html" %}

{% load static %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-collection-list' %}">collection</a>
{% endblock %}

{% block content %}
  <h1>Collections</h1>
  <form method="get" class="searchbar">
    {{ form }}
    <input type="submit" value="Go">
  </form>
  <ul class="tag-list">
    {% for collection in collections %}
      <li><a href="{{ collection.public_url }}">{{ collection.name }} ({{ collection.artfile_count }})</a></li></li>
    {% endfor %}
  </ul>
{% endblock %}
