{% extends "textmode/base.html" %}

{% load static %}


{% block title %}collection/{{ collection.name }}{% endblock %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-collection-list' %}">collection</a>
  <span>&gt;</span>
  <a href="{{ collection.public_url }}">{{ collection.name }}</a>
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ collection.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script>
    {% include "textmode/fragments/artfile_grid.js" %}
  </script>
{% endblock %}

{% block content %}
  <div class="artfile-body">
    <div class="artfile-content-wrapper">
      <h1>Collection / {{ collection.name }}</h1>
      {% if collection.description %}
        <div class="collection-description">
          {{ collection.description }}
        </div>
      {% endif %}
      {% include 'textmode/fragments/artfile_grid.html' with show_pack_name=1 %}
    </div>
  </div>
{% endblock %}
