{% extends "textmode/base.html" %}

{% load static %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-pack-list' %}">packs</a>
  <span>&gt;</span>
  <a href="{{ pack.public_url }}">{{ pack.name }}</a>
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ pack.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var form = document.getElementById("packFilterForm");
      form.addEventListener("change", function() {
        form.submit();
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="pack-body">
    <div class="sidebar">
      <form method="get" class="pack-filter-form" id="packFilterForm">
        <h2>Filter by</h2>
        <div>Results: {{ artfiles.count }}{% if form.data %}
          <a href="{{ pack.public_url }}" class="sidebar-clear-link">[clear filter]</a>{% endif %}
        </div>
        <fieldset>
          <legend>Artist</legend>
          {{ form.artist }}
        </fieldset>
        <fieldset>
          <legend>Collab</legend>
          {{ form.collab }}
        </fieldset>
        <fieldset>
          <legend>File Extension</legend>
          {{ form.extension }}
        </fieldset>
      </form>
    </div>
    <div class="pack-content">
      <h1>{{ pack.name }}</h1>
      {% include 'textmode/fragments/artfile_grid.html' %}
    </div>
  </div>
{% endblock %}
