{% extends "textmode/base.html" %}

{% load static %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-pack-list' %}">packs</a>
{% endblock %}

{% block content %}
  <h1>Packs</h1>
  <form method="get" class="searchbar">
    {{ form }}
    <input type="submit" value="Go">
  </form>
  {% for year, packs in packs_by_year %}
    <h2>{{ year }}</h2>
    <div class="pack-grid">
      {% for pack in packs %}
        <div class="pack-card">
          <a href="{% url 'textmode-pack' pack.name %}">
            <img alt="{{ pack.name }}" src="{{ pack.fileid.0.image_tn.url }}">
            <div class="pack-title">
              {{ pack.name }}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
