{% extends "textmode/base.html" %}

{% load static %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-pack-list' %}">packs</a>
  <span>&gt;</span>
  <a href="{{ pack.public_url }}">{{ pack.name }}</a>
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ pack.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var form = document.getElementById("packFilterForm");
      form.addEventListener("change", function() {
        form.submit();
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="artfile-body">
    <div class="sidebar">
      {% include 'textmode/fragments/artfile_filter.html' %}
    </div>
    <div class="artfile-content-wrapper">
      <h1>{{ pack.year }} / {{ pack.name }} <a class="header-link" href="{{ pack.zip_file.url }}">(.zip)</a></h1>
      {% include 'textmode/fragments/artfile_grid.html' %}
    </div>
  </div>
{% endblock %}
