{% extends "textmode/base.html" %}

{% load static %}{% load humanize %}

{% block title %}textmode search{% if q %}: {{ q|intcomma }}{% endif %}{% endblock %}

{% block extrahead %}{{ block.super }}
  {{ form.media }}
  <script>
    {% include "textmode/fragments/artfile_grid.js" %}
  </script>
{% endblock %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-search' %}">search</a>
{% endblock %}

{% block content %}
  <h1>Search</h1>
  <div class="advanced-search-wrapper">
    <form method="get" class="advanced-search">
      <div class="advanced-search-options">
        <fieldset>
          <legend>File Information</legend>
          <div class="advanced-search-section">
            <label>Year:</label>
            <span class="advanced-search-input-group">
              {{ form.min_year }}
              {{ form.max_year }}
            </span>
            <label>{{ form.pack.label }}:</label>
            <span>{{ form.pack }}</span>
            <label>{{ form.q.label }}</label>
            <span>{{ form.q }}</span>
            <label>{{ form.extension.label }}:</label>
            <span>{{ form.extension }}</span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Tags</legend>
          <div class="advanced-search-section">
            <label>{{ form.artist.label }}:</label>
            <span>{{ form.artist }}</span>
            <label>{{ form.group.label }}:</label>
            <span>{{ form.group }}</span>
            <label>{{ form.content.label }}:</label>
            <span>{{ form.content }}</span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Sauce</legend>
          <div class="advanced-search-section">
            <label>{{ form.ice_colors.label }}:</label>
            <span>{{ form.ice_colors }}</span>
            <label>{{ form.letter_spacing.label }}:</label>
            <span>{{ form.letter_spacing }}</span>
            <label>{{ form.aspect_ratio.label }}:</label>
            <span>{{ form.aspect_ratio }}</span>
            <label>{{ form.font_name.label }}:</label>
            <span>{{ form.font_name }}</span>
            <label>Line Count:</label>
            <span class="advanced-search-input-group">
              {{ form.min_num_lines }}
              {{ form.max_num_lines }}
            </span>
            <label>Column Count:</label>
            <span class="advanced-search-input-group">
              {{ form.min_char_width }}
              {{ form.max_char_width }}
            </span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Order</legend>
          <div class="advanced-search-section">
            <label>{{ form.order.label }}:</label>
            <span>{{ form.order }}</span>
          </div>
        </fieldset>
      </div>
      <div class="advanced-search-submit">
        <input type="submit" value="Apply Filters">
      </div>
    </form>
  </div>
  <h2>Results</h2>
  <span class="advanced-search-results-total">
    Results: {{ page.paginator.count }}
    {% if is_filtered %}<a href="{% url 'textmode-search' %}">(clear filters)</a>{% endif %}
  </span>
  {% include 'textmode/fragments/artfile_grid.html' with show_pack_name=1 %}
{% endblock %}
