{% extends "textmode/base.html" %}

{% load static %}{% load humanize %}

{% block title %}textmode search{% if q %}: {{ q|intcomma }}{% endif %}{% endblock %}

{% block extrahead %}{{ block.super }}
  <script>
    {% include "textmode/fragments/artfile_grid.js" %}
  </script>
{% endblock %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-search' %}">search</a>
{% endblock %}

{% block content %}
  <h1>Search</h1>
  <form method="get" class="searchbar">
    {{ form }}
    <input type="submit" value="Go">
  </form>
  {% if show_results %}
    <h2>Results ({{ total }})</h2>
    {% include 'textmode/fragments/artfile_grid.html' with show_pack_name=1 %}
  {% endif %}
{% endblock %}
