{% extends "textmode/base.html" %}

{% load static %}{% load humanize %}

{% block title %}textmode search{% if q %}: {{ q|intcomma }}{% endif %}{% endblock %}

{% block extrahead %}{{ block.super }}
  {{ form.media }}
  <script>
    {% include "textmode/fragments/artfile_grid.js" %}
  </script>
{% endblock %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-search' %}">search</a>
{% endblock %}

{% block content %}
  <h1>Search</h1>
  <details class="advanced-search-wrapper" open>
    <summary>Filters</summary>
    <form method="get" class="advanced-search">
      <div class="advanced-search-options">
        <fieldset>
          <legend>Tags</legend>
          <div class="advanced-search-section">
            <label>{{ form.artist.label }}:</label>
            <span>{{ form.artist }}</span>
            <label>{{ form.group.label }}:</label>
            <span>{{ form.group }}</span>
            <label>{{ form.content.label }}:</label>
            <span>{{ form.content }}</span>
          </div>
        </fieldset>
        <fieldset>
          <legend>File Information</legend>
          <div class="advanced-search-section">
            <label>{{ form.pack.label }}:</label>
            <span>{{ form.pack }}</span>
            <label>{{ form.year.label }}:</label>
            <span>{{ form.year }}</span>
            <label>{{ form.extension.label }}:</label>
            <span>{{ form.extension }}</span>
          </div>
        </fieldset>
        <fieldset>
          <legend>ANSi</legend>
          <div class="advanced-search-section">
            <label>{{ form.ice_colors.label }}:</label>
            <span>{{ form.ice_colors }}</span>
            <label>{{ form.letter_spacing.label }}:</label>
            <span>{{ form.letter_spacing }}</span>
            <label>{{ form.aspect_ratio.label }}:</label>
            <span>{{ form.aspect_ratio }}</span>
            <label>{{ form.font_name.label }}:</label>
            <span>{{ form.font_name }}</span>
          </div>
        </fieldset>
      </div>
      <div class="advanced-search-submit">
        <input type="submit" value="Search">
      </div>
    </form>
  </details>
  <h2>Results ({{ total }})</h2>
  {% include 'textmode/fragments/artfile_grid.html' with show_pack_name=1 %}
{% endblock %}
