{% extends "textmode/base.html" %}

{% load static %}


{% block title %}tags/{{ tag.category }}/{{ tag.name }}{% endblock %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-tag-list' %}">tags</a>
  <span>&gt;</span>
  <a href="{% url 'textmode-tag-category-list' tag.category %}">{{ tag.category }}</a>
  <span>&gt;</span>
  <a href="{{ tag.public_url }}">{{ tag.name }}</a>
{% endblock %}

{% block headerlinks %}
  {% if user.is_staff %}
    <div><a href="{{ pack.change_url }}">edit</a></div>
  {% endif %}
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script>
    {% include "textmode/fragments/artfile_grid.js" %}
  </script>
{% endblock %}

{% block content %}
  <div class="artfile-body">
    <div class="artfile-content-wrapper">
      <h1>Tags / {{ tag.category }} / {{ tag.name }}</h1>
      {% include 'textmode/fragments/artfile_grid.html' with show_pack_name=1 %}
    </div>
  </div>
{% endblock %}
