{% extends "textmode/base.html" %}

{% load static %}

{% block breadcrumbs %}
  <span>&gt;</span>
  <a href="{% url 'textmode-tag-list' %}">tags</a>
  <span>&gt;</span>
  <a href="{% url 'textmode-tag-category-list' category %}">{{ category }}</a>
{% endblock %}

{% block content %}
  <h1>Tags</h1>
  <form method="get" class="searchbar">
    {{ form }}
    <input type="submit" value="Go">
  </form>
  <h2>{{ category|title }}</h2>
  <ul class="tag-list">
    {% for tag in tags %}
      <li class="tag-list-item"><a href="{{ tag.public_url }}">{{ tag.name }} ({{ tag.artfile_count }})</a></li>
    {% endfor %}
  </ul>
{% endblock %}
