{% extends "base.html" %}

{% load static %}

{% block extrahead %}
<link href='{% static "styles/fundan.css" %}' rel='stylesheet' />
{% endblock %}

{% block extrastyle %}
<style>
  @font-face {
      font-family: "SimSunWebBBS";
      src: url('{% static 'fonts/SimSunWebBBS.woff2' %}') format('woff2');
  }
</style>
{% endblock %}

{% block body %}
<div class="bbs">
  <div class="bbs-nav">
    {% for parent in parents %}
      <div><a href="{{ parent.menu.bbs_url }}">↑ {{ parent.menu.path }}/</a></div>
    {% endfor %}
  </div>
  <div class="bbs-document">{{ html }}</div>
  <div class="bbs-footer">
    <div>source: <a href="{{ obj.source_url }}">{{ obj.source_url }}</a></div>
  </div>
</div>
{% endblock %}
