{% extends "base.html" %}

{% load static %}

{% block extrahead %}
<link href='{% static "styles/fundan.css" %}' rel='stylesheet' />
<script src="{% static "js/fudan.js" %}" ></script>
{% endblock %}

{% block extrastyle %}
<style>
  @font-face {
      font-family: "SimSunWebBBS";
      src: url('{% static 'fonts/SimSunWebBBS.woff2' %}') format('woff2');
  }
</style>
{% endblock %}

{% block body %}
<div class="bbs">
  <div class="bbs-nav">
    {% for parent in parents %}
      <div>
        <a class="text-zh {% if en %}hidden{% endif %}" href="{{ parent.menu.bbs_url }}?lang=zh">↑ {{ parent.menu.path }}/</a>
        <a class="text-en {% if zh %}hidden{% endif %}" href="{{ parent.menu.bbs_url }}?lang=en">↑ {{ parent.menu.path }}/</a>
      </div>
    {% empty %}
      <br>
    {% endfor %}
  </div>
  <div class="bbs-lang-toggle"><span id="lang-zh" class="lang-option {% if zh %}active{% endif %}">zh</span><span id="lang-en" class="lang-option {% if en %}active{% endif %}">en</span></div>
  <div class="bbs-menu">
    <span>ORD</span>
    <span>TYPE</span>
    <span>DESCRIPTION</span>
    <span>ORGANIZER</span>
    <span>DATE</span>
    {% for link in links %}
      <span class="rjust">{{ link.order }}.</span>
      <span>[{{ link.bbs_tag }}]</span>
      <span><a class="text-zh {% if en %}hidden{% endif %}" href="{{ link.target_bbs_url }}?lang=zh">{{ link.text }}</a><a class="text-en {% if zh %}hidden{% endif %}" href="{{ link.target_bbs_url }}?lang=en">{{ link.get_translated_text }}</a></span>
      <span>{{ link.organizer }}</span>
      <span>{{ link.time|date:"Y-m-d" }}</span>
    {% endfor %}
  </div>
  <div class="bbs-footer">
    <div>source: <a href="{{ obj.source_url }}">{{ obj.source_url }}</a></div>
  </div>
</div>
{% endblock %}
