html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #eee;
}

h2 {
    background: black;
    color: white;
    padding: 8px;
    margin: 0;
    font-size: large;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

h3 {
    background: black;
    color: white;
    padding: 8px;
    margin: 0;
    font-size: medium;
}

h2 a {
    color: white;
    text-transform: none;
}


.logo {
    margin-right: 5px;
    box-shadow: none;
}

.header {
    background: red;
    padding: 8px 10px;
    color: white;
    display: flex;
    gap: 5px;
    overflow: hidden;
    line-height: 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header a {
    color: white;
    white-space: nowrap;
}

.title a {
    text-decoration: none;
    color: white;
}

.content {
    margin: 10px;
}

.header-nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
}

.header-breadcrumbs {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 7ch;
    flex: 1;
}

.header-shortcuts {
    display: flex;
    gap: 10px;
}

.file-content .item-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.file-content .item-grid a {
    text-decoration: none;
    color: black;
}

.item-grid .item-preview {
    font-family: "aahub", sans-serif;
    overflow: auto;
    border: 1px solid grey;
    padding: 5px;
    max-width: fit-content;
    max-height: fit-content;
    font-size: x-small;
    background: white;
    user-select: none;
}

.item-content {
    display: flex;
    justify-content: center;
}

.item-content .item-viewbox {
    font-family: "aahub", sans-serif;
    overflow: auto;
    border: 1px solid grey;
    padding: 5px;
    margin-left: 20px;
    max-width: fit-content;
    max-height: fit-content;
    background: white;
}

.file-download {
    font-weight: normal;
    font-size: medium;
}

.box-container {
    font-size: small;
    background: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.directory-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.directory-content > li {
    display: contents;
}
