Django>=5.2,<6.0
ansi2html
django-admin-interface
django-autocomplete-light
django-browser-reload
django-cleanup
django-debug-toolbar
django-environ
django-extensions
django-imagekit
django-rest-framework
gevent
googletrans
gunicorn
gunicorn
lxml
pillow
requests
scrapy
stransi
telnetlib3
