Django>=4.2,<5.0
ansi2html
django-admin-interface
django-browser-reload
django-cleanup
django-environ
django-extensions
gevent
googletrans==3.1.0a0
gunicorn
gunicorn
lxml
requests
scrapy
stransi
telnetlib3
