Django>=4.2,<5.2
ansi2html
django-admin-interface
django-autocomplete-light
django-browser-reload
django-cleanup
django-debug-toolbar
django-environ
django-extensions
django-imagekit
gevent
googletrans==3.1.0a0
gunicorn
gunicorn
lxml
requests
scrapy
stransi
telnetlib3
