name: test

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop, main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install dependencies
        run: python -m pip install -r requirements/requirements-dev.txt
      - name: Run ruff check
        run: ruff check --output-format=github
      - name: Run ruff format
        run: ruff format --diff
      - name: Run mypy
        run: mypy ascii
      - name: Check migrations
        run: python maange.py makemigrations --check
      - name: Run pytest
        run: pytest
